{% extends "base.html" %}
{% load static %}

{% block title %}Quy hoạch dự án{% endblock %}

{% block content %}
<div style="position: relative;">
    {% for hang, cot, obj in grouped_objects %}
    <!-- <p>Hang: {{ hang }} - Cot: {{ cot }} - Object: {{ obj }} - Ma_hang: {{ obj.ma_hang }}</p> -->
    <div class="rectangle {% if obj.ma_hang == 'DNM-TA-VIP*' %}dnm-ta-vipsao{% else %}hd-tc{% endif %}"
        style="position: absolute; left: {% widthratio cot 1 30 %}px; top: {% widthratio hang 1 60 %}px;">
        <!-- {{ obj }} -->
    </div>
    {% endfor %}
</div>
{% endblock %}