{% extends "project_plan.html" %}
{% load static %}

{% block title %}Quản lí đơn hàng{% endblock %}
{% block heading %}Trang quản lí đơn hàng{% endblock %}

{% block side_info %}
{% for loai_don_hang, danh_sach_don_hang in all_don_hang.items %}
    <h2>Danh sách Đơn hàng {% if loai_don_hang == "don_hang_dang_giao_dich" %}đang chờ xử lí{% else %}đã hoàn tất{% endif %}</h2>
    <div class="accordion" id="{{ loai_don_hang }}">
        {% for don_hang in danh_sach_don_hang %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ don_hang.ma_don_hang }}" aria-expanded="true"
                        aria-controls="collapse{{ don_hang.ma_don_hang }}">
                        {{ don_hang }}
                    </button>
                </h2>
                <div id="collapse{{ don_hang.ma_don_hang }}" class="accordion-collapse collapse hide">
                    <div class="accordion-body">
                        <p>Tên khách hàng: {{ don_hang.khach_mua }}</p>
                        <p>Mộ: {{ don_hang.mo }}</p>
                        <p>Ngày giao dịch: {{ don_hang.ngay_giao_dich }}</p>
                        <p>Danh sách dịch vụ: {{ don_hang.danh_sach_dich_vu.all|join:", " }}</p>
                        <p>Giá trị đơn hàng: {{ don_hang.gia_tri_don_hang }}</p>
                        <form method="post" action="{{don_hang.ma_don_hang}}/{% if loai_don_hang == 'don_hang_dang_giao_dich' %}HOAN_TAT{% else %}DANG_CHO{% endif %}">
                            {% csrf_token %}
                            {% if loai_don_hang == "don_hang_dang_giao_dich" %}
                            <button type="submit" class="btn btn-primary">Hoàn tất</button>
                            {% else %}
                            <button type="submit" class="btn btn-danger">Chưa hoàn tất</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        {% endfor%}
    </div>
{% endfor %}
{% endblock %}
