{% extends "base.html" %}
{% load static %}

{% block title %}Thông tin người mất{% endblock %}

{% block content %}
<div class="container">
    <h1>Thông tin người mất {{ mo }}</h1>
    <ul class="list-group">
        {% for khach_hang in cac_khach_mat %}
        <li class="list-group-item">
            <div class="container">
                <p>Tên khách hàng: {{ khach_hang.ten_khach }}</p>
                <p>Ngày mất: {{ khach_hang.ngay_mat }}</p>
                {% if khach_hang.kyuc %}
                    <div id="carouselExample" class="carousel slide" style="background-color: grey;">
                        <div class="carousel-inner">
                            {% for anh_ky_uc in khach_hang.kyuc.anhkyuc_set.all %}
                            <div class="carousel-item active">
                                <img src="{{ anh_ky_uc.image.url }}" class="d-block mx-auto" alt="...">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}