{% extends "base.html" %}
{% load static %}

{% block title %}Thông tin người mất{% endblock %}

{% block content %}
<div class="container">
    <h1>Thông tin người mất {{ mo }}</h1>
    <ul class="list-group">
        {% for khach_hang in cac_khach_mat %}
        <li class="list-group-item">
            <div class="container">
                <p>Tên khách hàng: {{ khach_hang.ten_khach }}</p>
                <p>Ngày mất: {{ khach_hang.ngay_mat }}</p>
                {% if khach_hang.kyuc %}
                    {% for anh_ky_uc in khach_hang.kyuc.anhkyuc_set.all %}
                        <img src="{{ anh_ky_uc.image.url }}" alt="{{ anh_ky_uc.ma_ky_uc }}" style="width:100%">
                    {% endfor %}
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}