.rectangle {
    display: inline-block;
    border: 1px solid black;
    height: 50px;
}

.rectangle.hd-tc {
    width: 15px;
}

.rectangle.dnm-ta-vipsao {
    width: 30px;
}

#info-dialog {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    z-index: 100;
}

.rectangle.CT {
    background-color: green;
}

.rectangle.DB {
    background-color: lightcoral;
}

.rectangle.DSD {
    background-color: grey;
}

.rectangle.DGD {
    background-color: aqua;
}